.custom-navbar {
    background-color: #999ea3;
    padding: 15px;
}
.custom-navbar .navbar-brand {
    color: #0c0c0c;
    font-size: 20px;
    font-weight: bold;
}

.custom-navbar .nav-link {
    color: #ffffff;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover {
    color: #000000;
}
