{% extends 'NavBar.html' %}
{% block header %}Створити новий Євро-протокол{% endblock %}
{% load static %}

{% block content %}

<body>
    <div class="form">

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div
                    class="card border-primary h-100 shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 duration-300">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Дата: {{ dtp.date }}</h5>
                        <p class="card-text"><strong>Місце:</strong> {{ dtp.location }}</p>
                        <p class="card-text"><strong>Водій 1:</strong> {{ dtp.name_dri1 }}<br><strong> Номер авто:</strong> {{ dtp.license_plate1}}</p>
                        <p class="card-text"><strong>Водій 2:</strong> {{ dtp.name_dri2 }}<br><strong> Номер авто:</strong> {{ dtp.license_plate2}}</p>
                        <a href="#" class="btn btn-outline-primary btn-sm mt-2"><i class="fas fa-eye"></i> Деталі</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-muted text-center">Немає зареєстрованих випадків ДТП.</p>
        <a href="{% url 'generate_pdf' %}?date={{ dtp.date }}&location={{ dtp.location }}&name_dri1={{ dtp.name_dri1 }}&license_plate1={{ dtp.license_plate1 }}&name_dri2={{ dtp.name_dri2 }}&license_plate2={{ dtp.license_plate2 }}" class="btn btn-primary btn-lg">
            Завантажити PDF
        </a>
        

    </div>

</body>
{% endblock %}
