{% extends 'NavBar.html' %}
{% load static %}

{% block header %}Головна сторінка{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary mb-4">Онлайн платформа для оформлення ДТП</h1>
        <p class="lead mb-4">Оформлюйте дорожньо-транспортні пригоди швидко та зручно за допомогою Євро-протоколу.</p>
        <a href="{% url 'create' %}" class="btn btn-success btn-lg mt-3 shadow-lg hover:shadow-2xl transition duration-300 transform hover:scale-105">
            <i class="fas fa-file-alt"></i> Створити новий протокол
        </a>
    </div>

    <hr class="my-5">

    <h2 class="text-secondary text-center mb-4">Останні випадки ДТП</h2>

    {% if dtp %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for case in dtp %}
            <div class="col">
                <div class="card border-primary h-100 shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 duration-300">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Дата: {{ case.date }}</h5>
                        <p class="card-text"><strong>Місце:</strong> {{ case.location }}</p>
                        <p class="card-text"><strong>Водій 1:</strong> {{ case.name_dri1 }} Номер авто: {{ case.license_plate1 }}</p>
                        <p class="card-text"><strong>Водій 2:</strong> {{ case.name_dri2 }} Номер авто: {{ case.license_plate2 }}</p>
                        {% if case.image %}
                            <img src="{{ dtp_instance.image.url }}" alt="Image" />
                        {% endif %}
                        <br>
                        <a href="{% url 'getId' pk=case.pk %}" class="btn btn-outline-primary btn-sm mt-2"><i class="fas fa-eye"></i> Деталі</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
        <p class="text-muted text-center">Немає зареєстрованих випадків ДТП.</p>
    {% endif %}

    <hr class="my-5">

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-primary mb-4">Опис послуги</h3>
                <p>Європротокол – це форма повідомлення страховика про дорожньо-транспортну пригоду, яка дозволяє оформити ДТП без виклику поліції.</p>
                <p>Важливо пам’ятати, що при оформленні Європротоколу страхове відшкодування лімітується до 50 000 грн.</p>
    
                <div class="accordion" id="serviceAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingConditions">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConditions" aria-expanded="true" aria-controls="collapseConditions">
                                <i class="fas fa-arrow-down me-2"></i>Європротоколом можна скористатися за таких умов:
                            </button>
                        </h2>
                        <div id="collapseConditions" class="accordion-collapse collapse" aria-labelledby="headingConditions" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <ul>
                                    <li>Відсутні травмовані (загиблі) люди;</li>
                                    <li>Водії-учасники ДТП мають поліси автоцивільної відповідальності;</li>
                                    <li>Наявна згода водіїв транспортних засобів - учасників ДТП щодо її обставин;</li>
                                    <li>У водіїв відсутні ознаки алкогольного, наркотичного чи іншого сп'яніння або перебування під впливом лікарських препаратів.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAdditionalConditions">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdditionalConditions" aria-expanded="true" aria-controls="collapseAdditionalConditions">
                                <i class="fas fa-arrow-down me-2"></i>Додаткові умови для застосування системи «Електронний європротокол»:
                            </button>
                        </h2>
                        <div id="collapseAdditionalConditions" class="accordion-collapse collapse" aria-labelledby="headingAdditionalConditions" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <ul>
                                    <li>Транспортні засоби обох учасників ДТП повинні мати чинні поліси внутрішнього страхування.</li>
                                    <li>Водії повинні мати при собі справні мобільні телефони з фотокамерою та доступом в Інтернет.</li>
                                    <li>Ідентифікаційні дані про страхувальника та транспортний засіб мають бути зазначені в полісі і коректно внесені в єдину централізовану базу даних МТСБУ.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBenefits">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBenefits" aria-expanded="true" aria-controls="collapseBenefits">
                                <i class="fas fa-arrow-down me-2"></i>Що отримують водії, скориставшись Європротоколом:
                            </button>
                        </h2>
                        <div id="collapseBenefits" class="accordion-collapse collapse" aria-labelledby="headingBenefits" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <ul>
                                    <li>Мають право залишити місце ДТП;</li>
                                    <li>Звільняються від обов'язку інформувати Нацполіцію;</li>
                                    <li>Звільняються від адміністративної відповідальності за спричинення ДТП.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingIdentificationMethod">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdentificationMethod" aria-expanded="true" aria-controls="collapseIdentificationMethod">
                                <i class="fas fa-arrow-down me-2"></i>Спосіб електронної ідентифікації:
                            </button>
                        </h2>
                        <div id="collapseIdentificationMethod" class="accordion-collapse collapse" aria-labelledby="headingIdentificationMethod" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Відсутній
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingHowToGet">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHowToGet" aria-expanded="true" aria-controls="collapseHowToGet">
                                <i class="fas fa-arrow-down me-2"></i>Як отримати послугу?
                            </button>
                        </h2>
                        <div id="collapseHowToGet" class="accordion-collapse collapse" aria-labelledby="headingHowToGet" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Заповнити електронну форму.
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCostOfServices">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCostOfServices" aria-expanded="true" aria-controls="collapseCostOfServices">
                                <i class="fas fa-arrow-down me-2"></i>Вартість послуг:
                            </button>
                        </h2>
                        <div id="collapseCostOfServices" class="accordion-collapse collapse" aria-labelledby="headingCostOfServices" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Безоплатно
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingServiceResult">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseServiceResult" aria-expanded="true" aria-controls="collapseServiceResult">
                                <i class="fas fa-arrow-down me-2"></i>Результат послуги:
                            </button>
                        </h2>
                        <div id="collapseServiceResult" class="accordion-collapse collapse" aria-labelledby="headingServiceResult" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Отримання інформації з Єдиної централізованої бази даних МТСБУ
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingResponsibleOrgan">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResponsibleOrgan" aria-expanded="true" aria-controls="collapseResponsibleOrgan">
                                <i class="fas fa-arrow-down me-2"></i>Відповідальний орган:
                            </button>
                        </h2>
                        <div id="collapseResponsibleOrgan" class="accordion-collapse collapse" aria-labelledby="headingResponsibleOrgan" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Моторне (транспортне) страхове бюро України
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNormativeBase">
                            <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNormativeBase" aria-expanded="true" aria-controls="collapseNormativeBase">
                                <i class="fas fa-arrow-down me-2"></i>Нормативна база:
                            </button>
                        </h2>
                        <div id="collapseNormativeBase" class="accordion-collapse collapse" aria-labelledby="headingNormativeBase" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                Закон України “Про обов’язкове страхування цивільно-правової відповідальності власників наземних транспортних засобів”
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'Footer.html' %}

<script>
    function toggleDetails(id) {
        const element = document.getElementById(id);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>

{% endblock %}

<style>
    .details-header {
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none; /* Забороняє виділення тексту */
}

.details-header:hover {
    color: #007bff;
    filter: brightness(0.85); /* затемнення тексту */
}

</style>
